apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: agrosolutions-local
resources:
- namespace.yaml
- ../../base/analise
- ../../base/ingestao
- ../../base/propriedades
- ../../base/usuarios
- ../../base/observability
- ../../base/database
- ../../rabbitmq
- logging/loki.yaml
- logging/promtail.yaml
- monitoring/servicemonitors.yaml
images:
- name: analise
  newName: ghcr.io/agrosolutions/analise
  newTag: local
- name: ingestao
  newName: ghcr.io/agrosolutions/ingestao
  newTag: local
- name: ingestao-simulador
  newName: ghcr.io/agrosolutions/ingestao-simulador
  newTag: local
- name: propriedades
  newName: ghcr.io/agrosolutions/propriedades
  newTag: local
- name: usuarios
  newName: ghcr.io/agrosolutions/usuarios
  newTag: local
labels:
- pairs:
    app.kubernetes.io/part-of: agrosolutions-platform
    app.kubernetes.io/managed-by: kustomize
    env: local
patches:
- path: configmap-env-patch.yaml
- path: ingestao-replicas.patch.yaml
- path: monitoring/service-labels.patch.yaml
- path: service-nodeport.patch.yaml

secretGenerator:
  - name: agrosolutions-auth-secrets
    envs:
    - .env
  - name: sql-server-secret
    envs:
    - .env
  - name: rabbitmq-secret
    envs:
    - .env
  - name: grafana-env-secret
    envs:
    - .env

