apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
namespace: agrosolutions-local
resources:
- namespace.yaml
- ../../base/analise
- ../../base/ingestao
- ../../base/propriedades
- ../../base/usuarios
- ../../base/observability
- ../../base/sqlserver-deployment.yaml
- ../../base/db-init-job.yaml
- ../../rabbitmq
- monitoring/servicemonitors.yaml
images:
- name: analise
  newName: ghcr.io/agrosolutions/analise
  newTag: local
- name: ingestao
  newName: ghcr.io/agrosolutions/ingestao
  newTag: local
- name: ingestao-simulador
  newName: ghcr.io/agrosolutions/ingestao-simulador
  newTag: local
- name: propriedades
  newName: ghcr.io/agrosolutions/propriedades
  newTag: local
- name: usuarios
  newName: ghcr.io/agrosolutions/usuarios
  newTag: local
labels:
- pairs:
    app.kubernetes.io/part-of: agrosolutions-platform
    app.kubernetes.io/managed-by: kustomize
    env: local
patchesStrategicMerge:
- configmap-env-patch.yaml
- ingestao-replicas.patch.yaml
- monitoring/service-labels.patch.yaml
- service-nodeport.patch.yaml
