apiVersion: v1
kind: Service
metadata:
  name: sql-service
spec:
  selector:
    app: sql-server
  ports:
    - protocol: TCP
      port: 1433
      targetPort: 1433
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sql-data-claim
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sql-server
  labels:
    app: sql-server
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sql-server
  template:
    metadata:
      labels:
        app: sql-server
    spec:
      containers:
      - name: mssql
        image: mcr.microsoft.com/mssql/server:2022-latest
        ports:
        - containerPort: 1433
        env:
        - name: ACCEPT_EULA
          value: "Y"
        - name: MSSQL_SA_PASSWORD
          valueFrom:
            secretKeyRef:
              name: sql-secret
              key: password
        volumeMounts:
        - name: mssql-data
          mountPath: /var/opt/mssql/data
      volumes:
      - name: mssql-data
        persistentVolumeClaim:
          claimName: sql-data-claim
---
apiVersion: v1
kind: Secret
metadata:
  name: sql-secret
type: Opaque
stringData:
  password: "Password123!"
