apiVersion: apps/v1
kind: Deployment
metadata:
  name: sql-server
spec:
  template:
    spec:
      containers:
      - name: sql-server
        resources:
          limits:
            memory: "2Gi"
            cpu: "1"
          requests:
            memory: "512Mi"
            cpu: "500m"
