apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: rabbitmq
spec:
  template:
    spec:
      containers:
      - name: rabbitmq
        resources:
          limits:
            memory: "1Gi"
            cpu: "1"
          requests:
            memory: "256Mi"
            cpu: "200m"
