apiVersion: apps/v1
kind: Deployment
metadata:
  name: sql-server
spec:
  template:
    spec:
      containers:
      - name: sql-server
        resources:
          limits:
            memory: "4Gi"
            cpu: "2"
          requests:
            memory: "1Gi"
            cpu: "1"
